  body {
      background: #eceff1;
      overflow: hidden;
      margin: 0;
	   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url(/art.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
  }

  .Soon h1 {
      font-size: 4.2em;
      color: #212121
  }

  h1 {
      font-size: 4em;
      color: white;
  }

  h2 {
      font-size: 3em;
      color: white;
  }

  .Container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
  }

  .SectionBox {
      width: 100%;
      height: 100vh;
      background-color: #ffd54f;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-height: 100vh;
      overflow-y: scroll;
      border: 1px solid gray;
      scroll-snap-type: y mandatory;
  }

  .Box {
      border: 8px solid #fff;
      width: 100%;
      height: 100%;
      scroll-snap-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      paddding: 16px;
      margin: 16px;
  }

  .Box:nth-child(1) {
      background: #ffc107;
  }

  .Box:nth-child(2) {
      background: #ff9800;
  }

  .Box:nth-child(3) {
      background: #f4511e;
  }

  .Box:nth-child(4) {
      background: #8d6e63;
  }